Repository microsoft/retina, pull requests merged in 2024-07, with the labels that each got.

#514 fix: windows builds in release pipeline
  .github/workflows/release-images.yaml
Labels: type/fix, area/infra, priority/0

#524 fix: signing images based on matrix and only run release charts on tags
  .github/workflows/release-charts.yaml
  .github/workflows/release-images.yaml
Labels: type/fix, priority/0

#444 feat: operator v2 (for Hubble control plane)
  Makefile
  deploy/hubble/grafana/dashboards/README.md
  deploy/hubble/manifests/controller/helm/retina/templates/operator/deployment.yaml
  deploy/hubble/manifests/controller/helm/retina/values.yaml
  deploy/legacy/manifests/controller/helm/retina/templates/operator.yaml
  deploy/legacy/manifests/controller/helm/retina/values.yaml
  get-certs.sh
  go.mod
  go.sum
  operator/Dockerfile
  operator/cilium-crds/config/config_linux.go
  operator/cilium-crds/k8s/LICENSE
  operator/cilium-crds/k8s/apis/cell.go
  operator/cilium-crds/k8s/apis/register.go
  operator/cilium-crds/k8s/resource_ctors.go
  operator/cilium-crds/k8s/resources.go
  operator/cmd/cilium-crds/LICENSE
  operator/cmd/cilium-crds/cells_linux.go
  operator/cmd/cilium-crds/flags.go
  operator/cmd/cilium-crds/flags_provider.go
  operator/cmd/cilium-crds/lifecycle.go
  operator/cmd/cilium-crds/metrics.go
  operator/cmd/cilium-crds/root_linux.go
  operator/cmd/cilium-crds/zap_linux.go
  operator/cmd/cilium_crds_cmd_linux.go
  operator/cmd/legacy/deployment.go
  operator/cmd/root.go
  operator/config/config.go
  operator/main.go
  pkg/controllers/operator/cilium-crds/cache/types.go
  pkg/controllers/operator/cilium-crds/endpoint/cell.go
  pkg/controllers/operator/cilium-crds/endpoint/endpoint_controller.go
  pkg/controllers/operator/cilium-crds/endpoint/endpoint_controller_test.go
  pkg/controllers/operator/cilium-crds/endpoint/identitymanager.go
  pkg/controllers/operator/cilium-crds/endpoint/identitymanager_test.go
  pkg/controllers/operator/cilium-crds/endpoint/types.go
  pkg/utils/testutil/cilium/endpoint_client.go
  pkg/utils/testutil/cilium/errors.go
  pkg/utils/testutil/cilium/errors_test.go
  pkg/utils/testutil/cilium/identity_client.go
  pkg/utils/testutil/cilium/resource.go
  pkg/utils/testutil/cilium/versioned_client.go
  test/e2e/retina_e2e_test.go
Labels: type/enhancement, area/controllers

#235 feat(plugins): add experimental pktmon plugin for Windows
  .gitignore
  .golangci.yaml
  .pipelines/cg-pipeline.yaml
  Makefile
  controller/Dockerfile.windows-2022
  controller/Dockerfile.windows-native
  controller/Dockerfile.windows-native.dockerignore
  pkg/metrics/types.go
  pkg/metrics/types_linux.go
  pkg/metrics/types_windows.go
  pkg/module/metrics/metrics_module.go
  pkg/plugin/registry/registry_windows.go
  pkg/plugin/windows/pktmon/pktmon_plugin_windows.go
  pkg/utils/flow_utils.go
  pkg/utils/metadata_linux.pb.go
  pkg/utils/metadata_linux.proto
Labels: type/enhancement, lang/go, area/plugins, area/windows, priority/1
