Repository microsoft/retina, pull requests merged in 2025-05, with the labels that each got.

#1438 fix(conntrack): remove closing tcp connections from conntrack gracefully
  pkg/plugin/conntrack/_cprog/conntrack.c
  pkg/plugin/conntrack/_cprog/conntrack.h
Labels: area/ebpf, meta/waiting-for-author

#1548 chore: bump retina shell base image
  shell/Dockerfile
Labels: area/shell

#1253 feat(conntrack-metrics): legacy control plane basic mode
  pkg/metrics/metrics.go
  pkg/metrics/types.go
  pkg/plugin/conntrack/_cprog/conntrack.c
  pkg/plugin/conntrack/conntrack_bpfel_arm64.go
  pkg/plugin/conntrack/conntrack_bpfel_x86.go
  pkg/plugin/conntrack/conntrack_linux.go
  pkg/plugin/packetparser/packetparser_bpfel_arm64.go
  pkg/plugin/packetparser/packetparser_bpfel_x86.go
  pkg/utils/metric_names.go
Labels: area/metrics
